<figure class="figure">
    <img src="../../../assets/images/card-1.jpeg" class="figure-img rounded" style="max-width: 150px;"
        alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/card-1.jpeg" class="figure-img rounded" style="max-width: 150px;"
        alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/card-1.jpeg" class="figure-img rounded" style="max-width: 150px;"
        alt="...">
    <figcaption class="figure-caption">Name</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
</figure>