<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <i class="bi bi-star"></i> <b>4/10</b> Review Item #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>This is review text here ands this coudl be very lona an</p>
          <p class="blockquote-footer">User name</p>
          <i>1 found useful from 30</i>
        </div>
      </div>
    </div>
  </div>