<h1>Movie title</h1>
<div class="row">
    <div class="col-md-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/A179apttY58?si=IEzKXwSmWXbQRXpp"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <p class="lead">This is moview plote text here</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-header">Stars</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Star 1</li>
                            <li class="list-group-item">Star 2</li>
                            <li class="list-group-item">Star 3</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-header">Dirctors</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Star 1</li>
                            <li class="list-group-item">Star 2</li>
                            <li class="list-group-item">Star 3</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-bg-light mb-3">
                    <div class="card-header">Genres</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Star 1</li>
                            <li class="list-group-item">Star 2</li>
                            <li class="list-group-item">Star 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h1>Actors</h1>
<br>
<div class="row">
    <div class="col-md-12 text-center">
        <app-details-actors></app-details-actors>
    </div>
    <div class="text-center">
        <a href="" class="btn btn-warning">View All Actors</a>
    </div>
</div>
<hr>
<h1>Reviews</h1>
<br>
<div class="row">
    <div class="col-md-12">
        <app-details-reviews></app-details-reviews>
    </div> <br> <br>
    <div class="text-center">
        <a href="" class="btn btn-warning">View All Reviews</a>
    </div>
</div>
<hr>
<h1>Simillar Movies</h1>
<br>
<div class="row">
    <div class="col-md-12 text-center">
        <app-details-movies></app-details-movies>
    </div>
</div>
<hr>